<% include header %>

<h1>Mobile Museum</h1>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>

<hr>

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>
        <h2>
          <a href=/items/<%- item.id %>><%- item.titel %></a>

        </h2>

        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>"  class="frame" />
        <p id="door"><%- item.uitvoerder %></p>
        <p class="datum"><%- item.datum %></p>


        <hr />


    </section>

    <% teller++;}); %>

<% include footer %>
