<% include header %>

<h1>Mobile Museum</h1>

<a href="/" id="home">>>Homepage</a>
<section>

    <h2>
      <%- item.titel %>
    </h2>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>"  class="frame">

    <p id="door"><%- item.uitvoerder %></p>
    <p class="datum"><%- item.datum %></p>

    <p><%- item.body %></p>

    <p id="more">Meer over:

      <% for (var i = 0; i < item.categorieen.length; i++) { %>
        <a href="/categorieen/<%- i %>"><%- item.categorieen[i] %></a><% if (i+1< item.categorieen.length){ %>, <% } %>
      <% } %>
    </p>
</section>

<% include footer %>
